* {
    text-decoration: none;
}

body {
    background-color: white;

}
.topp {
    margin: 0 0 100px;
    height: 0;
    width: 100%;
}

.borderboks {
    width: calc(100% - 55px);
    height: 1030px;
    overflow: hidden;
    margin: 100px auto auto;
    padding: 10px;
    display: block;
    align-content: center;
}
.borderboks div {
    margin: 0 auto;
}


header {
    background-color: whitesmoke;
    width: screen;
    height: 100px;
    position: fixed;
    top: 0;
    left: 5px;
    right: 5px;
}

header .logo {
    font-family: Verdana;
    display: block;
    margin: -18px auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: none;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
   display: none;
    float: left;
    list-style: none;
    padding: 0 15px;

}

header nav ul li a {
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 16px;
    color: black;
    display: none;
}




@media only screen and (min-width: 1000px) {

    header .logo {
        margin: 10px 0;
        text-align: left;
        padding: 0 20px 0 80px;
        line-height: 38px;
        float: left;
    }

    header nav ul {
        display: block;
        margin: 20px 0 0 20px;
        float: left;

    }

    header nav ul li {
        display: inline-block;
        float: left;
        list-style: none;
        line-height: 60px;
    }

    header nav ul li a {
        font-family: Verdana;
        font-size: 16px;
        color: black;
        display: block;
    }
    .borderboks {
        height: 500px;
        margin: 100px auto auto;
    }



}





.index-bilde-text {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("Skjermbilde 2020-11-15 kl. 23.01.44.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.index-bilde-text-t {
    width: 100%;
    height: calc(100vh - 100px);
    display: table;
}

.senter {
    display: table-cell;
    vertical-align: middle;
}

.index-bilde-text h1 {
    font: Verdana;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.index-bilde-text-t h1 {
    font: Verdana;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: black;
}

.index-bilde-text h2 {
    font-style: italic;
    font: Verdana;
    font-size: 16px 16px 0px;
    text-align: center;
    color: white;
    line-height: 50px;
    text-shadow: 2px 2px 2px black;
}

.index-bilde-text-t h2 {
    font-style: italic;
    font: Verdana;
    font-size: 16px 16px 0px;
    text-align: center;
    color: black;
    line-height: 50px;
}

.index-knapper div {
    width: calc(100% - 30px);
    height: 150px;

}

.index-knapper div h3 {
    font: Verdana;
    font-size: 16px 16px 0px;
    text-align: center;
    color: black;
    font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
}
.index-link-en {
   background-color: lightgrey;
}
.index-link-to {
   background-color: ghostwhite;
}
.index-link-en div {
    margin: ;
}
.index-link-to img {
    margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
    .sidekant {
        width: 1000px;
        margin: 0 auto;
    }
    .index-bilde-text {
        width: 100%;
        height: 450px;
    }
    .index-knapper {
        overflow: hidden;
    }
    .index-knapper div {
        margin: 0;
        height: 250px;
        float: left;
    }
    .index-link-en {
        width: calc(35.4% - 20px) !important;
    }
    .index-link-to {
        width: calc(35.4% - 20px) !important;
    }


}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: whitesmoke;
    overflow: hidden;
}

footer ul{
   width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li{
    display: block;
    list-style: none;
    margin-bottom: 10px;
}
footer ul li a{
    font-family: Verdana;
    font-size: 18px;
    color: black;
    line-height: 35px;


}

.footer-some {
    width: 100px;
    float: right;
    margin: auto;
    display: block;

}

.footer-some img {
    width: 100%;


}

}

